ul{
    list-style: none;

}
.menu__link {
    color: rgba(33, 33, 33, 1);
  }
  
a[href^="mailto:"] {
    color: rgba(33, 150, 243, 1);
}

.menu__linkk{
    color: rgba(33, 150, 243, 1);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    font-family:'Times New Roman', Times, serif;
}


.header__inner{
        display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    margin-left: 553px;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 30px 60px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    font-family:'Times New Roman', Times, serif;

}
.top__inner{
    background-color: rgba(47, 48, 58, 1);
    background-size: cover;
    padding: 100px 0;
    
}
.title{
    width: 1920px;
    height: 600px;
   color: white;
   text-align: center;
  
}
.butt{
        

 color: white;
        width: 216px;
        height: 50px;
        top: 430px;
        left: 692px;
        transform: translateX(850px);
        border-radius: 4px;
        background-color: rgba(33, 150, 243, 1);
        

      }
   

.title {
    font-size: 60px;
    height: 120px;
    top: 280px;
    left: 452px;
    transform: translateX(-140px);
    margin-left: 6%;
    text-decoration: none;
    padding-top: 160px; 
    }
    .cards{
text-align: center;
display: flex;
gap: 30px 60px;
padding: 75px 215px;
    }
.galery-content{
    align-items: center;
    display: flex;
    gap: 30px;
    transform: translateX(350px);
   
}
.h2t{
    margin-left: 800px;
}